<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SHOPPING_EXPO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>icon-upload</param-name>
    <param-value>C:\Users\abc\ShoppingExpo\Shopping_Expo\WebContent\icon</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>PtypeController</display-name>
    <servlet-name>PtypeController</servlet-name>
    <servlet-class>com.controller.admin.insert.PtypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PtypeController</servlet-name>
    <url-pattern>/ccpc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ptl</display-name>
    <servlet-name>ProductTypeList</servlet-name>
    <servlet-class>com.controller.admin.list.ProductTypeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductTypeList</servlet-name>
    <url-pattern>/ccptl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductType</display-name>
    <servlet-name>DeleteProductType</servlet-name>
    <servlet-class>com.controller.admin.delete.DeleteProductType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductType</servlet-name>
    <url-pattern>/DeleteProductType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardList</display-name>
    <servlet-name>DashBoardList</servlet-name>
    <servlet-class>com.controller.admin.list.DashBoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardList</servlet-name>
    <url-pattern>/DashBoardList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDropdownList</display-name>
    <servlet-name>CategoryDropdownList</servlet-name>
    <servlet-class>com.controller.admin.list.CategoryDropdownList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDropdownList</servlet-name>
    <url-pattern>/cdl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckData</display-name>
    <servlet-name>CheckData</servlet-name>
    <servlet-class>com.controller.CheckData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckData</servlet-name>
    <url-pattern>/CheckData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PCatControl</display-name>
    <servlet-name>PCatControl</servlet-name>
    <servlet-class>com.controller.admin.insert.PCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PCatControl</servlet-name>
    <url-pattern>/ccpcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryList</display-name>
    <servlet-name>CategoryList</servlet-name>
    <servlet-class>com.controller.admin.list.CategoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryList</servlet-name>
    <url-pattern>/CategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.admin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/lst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContryController</display-name>
    <servlet-name>ContryController</servlet-name>
    <servlet-class>com.controller.admin.insert.ContryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContryController</servlet-name>
    <url-pattern>/ContryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryController</display-name>
    <servlet-name>CountryController</servlet-name>
    <servlet-class>com.controller.admin.insert.CountryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryController</servlet-name>
    <url-pattern>/CountryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductCategory</display-name>
    <servlet-name>DeleteProductCategory</servlet-name>
    <servlet-class>com.controller.admin.delete.DeleteProductCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductCategory</servlet-name>
    <url-pattern>/DeleteProductCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryList</display-name>
    <servlet-name>CountryList</servlet-name>
    <servlet-class>com.controller.admin.list.CountryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryList</servlet-name>
    <url-pattern>/CountryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoryDropdown</display-name>
    <servlet-name>SubCategoryDropdown</servlet-name>
    <servlet-class>com.controller.admin.list.SubCategoryDropdown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoryDropdown</servlet-name>
    <url-pattern>/SubCategoryDropdown</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PSubCategoryController</display-name>
    <servlet-name>PSubCategoryController</servlet-name>
    <servlet-class>com.controller.admin.insert.PSubCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSubCategoryController</servlet-name>
    <url-pattern>/ccaipscc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoryList</display-name>
    <servlet-name>SubCategoryList</servlet-name>
    <servlet-class>com.controller.admin.list.SubCategoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoryList</servlet-name>
    <url-pattern>/ccalscl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateDropdownList</display-name>
    <servlet-name>StateDropdownList</servlet-name>
    <servlet-class>com.controller.admin.list.StateDropdownList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateDropdownList</servlet-name>
    <url-pattern>/ccalcdl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateController</display-name>
    <servlet-name>StateController</servlet-name>
    <servlet-class>com.controller.admin.insert.StateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateController</servlet-name>
    <url-pattern>/ccaisc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateList</display-name>
    <servlet-name>StateList</servlet-name>
    <servlet-class>com.controller.admin.list.StateList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateList</servlet-name>
    <url-pattern>/ccalsl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityDropdownList</display-name>
    <servlet-name>CityDropdownList</servlet-name>
    <servlet-class>com.controller.admin.list.CityDropdownList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityDropdownList</servlet-name>
    <url-pattern>/ccalcdl2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityController</display-name>
    <servlet-name>CityController</servlet-name>
    <servlet-class>com.controller.admin.insert.CityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityController</servlet-name>
    <url-pattern>/ccaicc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityList</display-name>
    <servlet-name>CityList</servlet-name>
    <servlet-class>com.controller.admin.list.CityList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityList</servlet-name>
    <url-pattern>/ccalc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrandController</display-name>
    <servlet-name>BrandController</servlet-name>
    <servlet-class>com.controller.admin.insert.BrandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandController</servlet-name>
    <url-pattern>/ccaibc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrandDropdown</display-name>
    <servlet-name>BrandDropdown</servlet-name>
    <servlet-class>com.controller.admin.list.BrandDropdown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandDropdown</servlet-name>
    <url-pattern>/ccalbdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrandList</display-name>
    <servlet-name>BrandList</servlet-name>
    <servlet-class>com.controller.admin.list.BrandList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandList</servlet-name>
    <url-pattern>/ccalbl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SizeDropdownList</display-name>
    <servlet-name>SizeDropdownList</servlet-name>
    <servlet-class>com.controller.admin.list.SizeDropdownList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SizeDropdownList</servlet-name>
    <url-pattern>/ccalsdl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SizeController</display-name>
    <servlet-name>SizeController</servlet-name>
    <servlet-class>com.controller.admin.insert.SizeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SizeController</servlet-name>
    <url-pattern>/ccaisic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.controller.admin.insert.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SizeDao</display-name>
    <servlet-name>SizeDao</servlet-name>
    <servlet-class>com.dao.SizeDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SizeDao</servlet-name>
    <url-pattern>/SizeDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SizeList</display-name>
    <servlet-name>SizeList</servlet-name>
    <servlet-class>com.controller.admin.list.SizeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SizeList</servlet-name>
    <url-pattern>/SizeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.controller.admin.insert.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.controller.admin.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/al</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBean</display-name>
    <servlet-name>AdminBean</servlet-name>
    <servlet-class>com.bean.AdminBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBean</servlet-name>
    <url-pattern>/AdminBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminList</display-name>
    <servlet-name>AdminList</servlet-name>
    <servlet-class>com.controller.admin.list.AdminList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminList</servlet-name>
    <url-pattern>/ccalal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCountryList</display-name>
    <servlet-name>AdminCountryList</servlet-name>
    <servlet-class>com.controller.admin.list.adminCountryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCountryList</servlet-name>
    <url-pattern>/ccalacl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductSubcategory</display-name>
    <servlet-name>DeleteProductSubcategory</servlet-name>
    <servlet-class>com.controller.admin.delete.DeleteProductSubcategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductSubcategory</servlet-name>
    <url-pattern>/ccaddps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBrand</display-name>
    <servlet-name>DeleteBrand</servlet-name>
    <servlet-class>com.controller.admin.delete.DeleteBrand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBrand</servlet-name>
    <url-pattern>/ccaddb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCountry</display-name>
    <servlet-name>DeleteCountry</servlet-name>
    <servlet-class>com.controller.admin.delete.DeleteCountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCountry</servlet-name>
    <url-pattern>/ccaddc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteState</display-name>
    <servlet-name>DeleteState</servlet-name>
    <servlet-class>com.controller.admin.delete.DeleteState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteState</servlet-name>
    <url-pattern>/ccadds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCity</display-name>
    <servlet-name>DeleteCity</servlet-name>
    <servlet-class>com.controller.admin.delete.DeleteCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCity</servlet-name>
    <url-pattern>/ccaddc1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelete</display-name>
    <servlet-name>AdminDelete</servlet-name>
    <servlet-class>com.controller.admin.delete.AdminDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelete</servlet-name>
    <url-pattern>/ccadad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>com.controller.admin.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
</web-app>